@{
    ViewBag.Title = "About";
    Layout = null;
}
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' />
<link href='/Content/Site.css' rel='stylesheet' type='text/css' />
<link href='/Content/bootstrap.min.css' rel='stylesheet' type='text/css' />
<style type="text/css">
    body {
        font-family: 'Raleway', sans-serif;
    }
</style>
<h2>@ViewBag.Title.</h2>
<h3 style="font-family: Raleway;">@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p class="test">This test is hidden because of css style.</p>
