
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HeaderTest</title>
</head>
<body>
    <p>&nbsp;</p>
    <p> Aiuto a tutti!
    </p>
</body>
</html>
