
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HeaderTestHeader</title>
</head>
<body>
    <div> page [page] of [topage]
    </div>
</body>
</html>
