@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/SiteWrong.css" rel="stylesheet" />
    <title>Simple</title>
</head>
<body>
    <div class="">
        <p>This is a simple sample page. The quick brown fox on a pdf. Incredible page.</p>
    </div>
    <div class="test">
        <p>This is a hidden text.</p>
    </div>
    <div id="jstext"></div>
    <div>
        <img src="http://localhost:57399/Content/test.png" />
    </div>
</body>
</html>
