
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/css?v=peG2vCX8wlIEw2lPUnRL6uPAxina05CUT_UoTb_UXfw1&y=jfdjdfjfdjfdjfdjdfjfd&o=uwruiw43534535673465734&k=jkljfklsdjfklsjfkldsjfklsdjfklsdjfklsjfkljfkj&bn=benenenenenenenene&sffsdff=dsfsdfsdfsfsfff&jj=kdfsjhjshfjkshfjkhkjhfhfjeheure&gf=uriowuirouwerowiorjjkfjhfdsf" rel="stylesheet" />
    <title>LongImagePath</title>
</head>
<body>
    <div>
        <img src="~/Content/test.png?kjks=sdjfhjskdhfsdjkhfjksdhfkjhsdfjhsdfjhsdfj&dgfhj=hskjhfsdkjhfsdjkhfjksdhfjdshfjdshfhsd&iweroi=fjsdkjfksjfksljf24983wjkfjfkdjs&jshfshfjsd=kjfsdfsfhsdhfjshdf&jhfjs=sfsdsdfsfsfsdfsdfsdfsdfsdf&sdfsdsdfsffsd=dfdsfdfsdfsdfsdfdsfdsfdsfdsfdsffsdfsdfsdfsdfsdf" />
    </div>
</body>
</html>
