
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <link href="/Content/css?v=peG2vCX8wlIEw2lPUnRL6uPAxina05CUT_UoTb_UXfw1" rel="stylesheet" />
    <script src="/bundles/modernizr?v=wBEWDufH_8Md-Pbioxomt90vm6tJN2Pyy9u9zHtWsPo1"></script>
    <title>Simple</title>
</head>
<body>
    <div class="test"> 
        <p>This is a simple sample page. The quick brown fox on a pdf. Incredible page.</p>
    </div>
    <div>
        <img src="http://localhost:57399/Content/test.png" />
    </div>
</body>
</html>
